# Dependencias
node_modules/

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Archivos de build o empaquetado
dist/
build/
*.zip

# Otros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
mejoras.env
*.env
